@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
margin: 0;
padding: 0;
font-family: Raleway;
}

/* Menu */

.menu {
display: flex;
margin: auto 15px;
}

.logo {
font-size: 1.3em;
margin-right: 15px;
}

.links {
display: flex;
margin: auto 0 auto auto;
}

.links div {
padding-right: 15px;
align-items: flex-end;
}

.links a {
text-decoration: none;
color: inherit;
}

.active {
font-weight: bold;
}

/* Welcome page */

.welcomePage h1 {
  text-align: center;
}

/* Sign Up */

.suTitle {
text-align: center;

}

.signUpForm {
display: flex;
flex-direction: column;
width: 50%;
margin: 10px auto;
align-items: center;
}

.signUpForm div {
 margin-bottom: 10px;
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 100%;
 align-items: center;
}

.signUpForm label {
  padding-bottom: 8px;
}

.signUpForm input {
  width: 50%;
}

/* Sign In */

.siTitle {
  text-align: center;

}

.signInForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  align-items: center;
}

.signInForm div {
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 100%;
   align-items: center;
}

.signInForm label {
    padding-bottom: 8px;
}

.signInForm input {
    width: 50%;
}

/* Errors */

.errorSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors p {
  color: red;
}

/* Dashboard */

.dashboard {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.dashboard h1 {
  text-align: center;
}

.dashboard p {
  text-align: justify;
}

.dashOptions {
  margin-left: auto;
  margin-right: auto;
}

.dashOptions button {
  margin-right: 10px;
  margin-left: 10px;
  width: 150px;
  height: 25px;
  background-color: inherit;
  border-radius: 10px;
  font-size: .80em;
}

.dashOptions a {
  text-decoration: none;
  color: black;
}

/* Clients */

.clientTitle {
  text-align: center;
}

.addClientTitle {
  text-align: center;
  margin-top: 30px;
}

.clientForm {
  display: flex;
  justify-content: center;
  width: 90%;
  margin : 40px auto;
}

.clientForm div {
  margin-right: 10px;
}

.clientForm div label {
  padding-right: 4px;
}

.indClient {
  display: flex;
}

.indClient ul {
  width: 80%;
  align-items: center;
}

/* Client List */

.clientList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.clients {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.clients tr {
  text-align: center;
}

.clients th {
  width: 20%;
  text-align: center;
}

.eachClient {
  width: 100%;
}

.eachClient td {
  width: 20%;
  text-align: center;
  padding-top: 30px;
}

/* Projects */

.projectTitle {
  text-align: center;
}

.addProjectTitle {
  text-align: center;
  margin-top: 30px;
}

.projectForm {
  display: flex;
  justify-content: center;
  width: 90%;
  margin : 40px auto;
}

.projectForm div {
  margin-right: 10px;
}

.projectForm div label {
  padding-right: 4px;
}

/* Projects List */

.projectsList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.projects {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.projects tr {
  text-align: center;
}

.projects th {
  width: 15%;
  text-align: center;
}

.eachProject {
  width: 100%;
}

.eachProject td {
  text-align: center;
  padding-top: 30px;
}

.projectDesc {
  width: 25%;
  text-align: justify;
}
