@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  position: relative;
}

/* Billboard */

.billboard {
  margin: 0px;
  background-attachment: fixed;
  background-image: url(./images/desk.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  z-index: -100;
  transition: 0s linear;
  background-position: 0 -100px;
}

/* Menu */
.menuOverall {
  display: flex;
  line-height: 40px;
  z-index: 1030;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.2em;
}

.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  width: 26px;
  display: none;
}

#toggle {
  display: none;
}

.nav {
  display: flex;
  width: 80%;
  margin: 20px 0 20px auto;
  padding-left: 10px;
}

.logo {
  font-size: 1.3em;
  margin-right: 15px;
  margin-left: 5px;
}

.links {
  display: flex;
  margin: auto 0 auto auto;
}

.links div {
  padding-right: 15px;
  align-items: flex-end;
}

.links a {
  text-decoration: none;
  color: inherit;
  clear: right;
}

.active {
  font-weight: bold;
}

/* Welcome page */

.welcomePage {
  display: flex;
  flex-direction: column;
}

.welcomePage h1 {
  text-align: center;
  padding-top: 20%;
  padding-left: 7%;
  font-size: 3em;
}

#timekeeper {
  color: #48dbfb;
}

.keyFeatures h2 {
  text-align: center;
}

.blurb {
  width: 70%;
  text-align: justify;
  margin: 20px auto;
  padding: 20px;
}

.blurb p {
  font-size: 1.7em;
  line-height: 1.3em;
}

.keyFeatures {
    /* background-color: #dfe6e9; */
    padding: 30px 0;
}

.keyFeatures h2 {
  font-size: 2em;
}

.icons {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 19px auto;
}

.indiIcons {
  width: 33.3%;
  text-align: center;
  margin-top: 19px;
}

.indiIcons p {
  font-size: 1.3em;
}

.indiIcons div {
  font-size: 4em;
}

.pricing {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin:auto;
  padding: 20px 0 30px 0;
}

.pricingTitle {
  font-size: 2em;
  text-align: center;
}

.free, .limited, .unlimited {
  width: 33.3%;
  text-align: center;
  margin-bottom: 13px;
}

.welcomePage hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 70%;
  background-image: linear-gradient(to right, #fff, orange, #fff);
}

.selectbtn {
    height: 40px;
    width: 100px;
    border-radius: 100px;
    font-family: inherit;
    font-size: 13px;
    background-color: inherit;
    transition: .5s ease;
}

.selectbtn:hover{
  background-color: orange;
  border: none;
  color: white;
}

.footer {
  text-align: center;
}


/* Sign Up */

.suTitle {
text-align: center;

}

.signUpForm {
display: flex;
flex-direction: column;
width: 50%;
margin: 160px auto;
align-items: center;
}

.signUpForm div {
 margin-bottom: 10px;
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 100%;
 align-items: center;
}

.signUpForm label {
  padding-bottom: 8px;
}

.signUpForm input {
  width: 50%;
}

/* Sign In */

.siTitle {
  text-align: center;

}

.signInForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 200px auto;
  align-items: center;
}

.signInForm div {
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 100%;
   align-items: center;
}

.signInForm label {
    padding-bottom: 8px;
}

.signInForm input {
    width: 50%;
}

/* Errors */

.errorSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors p {
  color: red;
}

/* Dashboard */

.dashboard {
  padding-top: 100px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.dashboard h1 {
  text-align: center;
}

.dashboard p {
  text-align: justify;
}

.dashOptions {
  margin-left: auto;
  margin-right: auto;
}

.dashOptions button {
  margin-right: 10px;
  margin-left: 10px;
  width: 150px;
  height: 25px;
  background-color: inherit;
  border-radius: 10px;
  font-size: .80em;
}

.dashOptions a {
  text-decoration: none;
  color: black;
}

/* Clients */

.clientTitle {
  text-align: center;
}

.addClientTitle {
  text-align: center;
  margin-top: 30px;
}

.clientForm {
  display: flex;
  justify-content: center;
  width: 90%;
  margin : 40px auto;
}

.clientForm div {
  margin-right: 10px;
}

.clientForm div label {
  padding-right: 4px;
}

.indClient {
  display: flex;
}

.indClient ul {
  width: 80%;
  align-items: center;
}

/* Client List */

.clientList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.clients {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.clients tr {
  text-align: center;
}

.clients th {
  width: 20%;
  text-align: center;
}

.eachClient {
  width: 100%;
}

.eachClient td {
  width: 20%;
  text-align: center;
  padding-top: 30px;
}

.eachClient a {
  color: inherit;
}

/* Projects */

.projectTitle {
  text-align: center;
}

.addProjectTitle {
  text-align: center;
  margin-top: 30px;
}

.projectForm {
  display: flex;
  justify-content: center;
  width: 90%;
  margin : 40px auto;
}

.projectForm div {
  margin-right: 10px;
}

.projectForm div label {
  padding-right: 4px;
}

/* Projects List */

.projectsList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  font-size: .85em;

}

.projects {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.projects tr {
  text-align: center;
}

.projects th {
  width: 10%;
  text-align: center;
}

.eachProject {
  width: 100%;
}

.eachProject td {
  text-align: center;
  padding-top: 30px;
}

.eachProject a {
  color: inherit;
}

.projectDesc {
  width: 20%;
  text-align: justify;
}

/* COMPLETE PROJECT LIST */

.projectsListProj {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  font-size: .85em;
}

.projectsProj {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.projectsProj tr {
  text-align: center;
}

.projectsProj th {
  width: 12%;
  text-align: center;
}

.eachProjectProj {
  width: 100%;
}

.eachProjectProj td {
  text-align: center;
  padding-top: 30px;
}

.projectDescProj {
  width: 16%;
  text-align: justify;
}

.addHoursFormBtn {
  display: flex;
}

/* MODIFY HOURS */

.addHours {
  margin-top: 35px;
}
.addHoursForm {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.hoursToAdd label{
    margin-right: 15px;
}

.buttonsModify button {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 95%;
  /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */

}

.status {
  margin-bottom: 15px;
}

/* INVOICE */

.invoice {
  padding-top: 85px;
}

#invoiceTitle {
  text-align: center;
  margin: 50px auto;
}

.invoiceTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 15%;
  margin-left: auto;
}

.invoiceTitle h2 {
  margin-bottom: 0px;
}

.fromTo {
  display: flex;
  margin-bottom: 15px;
}

#billTo {
  margin-left: 15px;
  width: 85%;
}

#fromFrom {
  margin-left: auto;
  width: 15%;
}

.projectInvDesc {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.invoiceItems {
  margin-left: 15px;
  width: 85%;
}

.amount {
  margin-left: auto;
  width: 15%;
}

.amount p {
  text-align:
}

.totalInvoice {
  display: flex;
  margin-left: auto;
}

#totalTotal {
  font-weight: bold;
  margin-right: 15px;
  width: 85%;
  text-align: right;
}

#totalTotalBill {
  width: 15%;
}

.invoiceMessage {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

@media only screen and (max-width: 768px) {

.billboard {
  margin: 0px;
  background-attachment: fixed;
  background-image: url(./images/desk2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: -100;
  transition: 0s linear;
  background-position: 0 -100px;
}

.nav label {
  display: block;
  cursor: pointer;
  text-align: right;
}

.nav {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.links {
  text-align: center;
  width: 100%;
  display: none;
}

.links div {
  padding-right: 0;
}

.links a {
  flex-direction: block;
  margin-right: 40px;

}

#toggle:checked + .links {
  display: flex;
  flex-direction: column;
  text-align: right;
  height: auto;
}

.welcomePage h1 {
  padding-top: 30%;
  padding-left: auto;
  padding-right: auto;
}

.icons {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.indiIcons {
  width: 60%;
}

.pricing {
  flex-direction: column;
  align-items: center;
}

}

@media only screen and (max-width: 576px) {
  .welcomePage h1 {
    padding-top: 50%;
    padding-left: auto;
    padding-right: auto;
  }

  .blurb {
    font-size: .85em;
    text-align: center;
  }

  .indiIcons {
    width: 80%;
  }

}
