@media only screen and (max-width: 768px) {

.nav label {
  display: block;
  cursor: pointer;
  text-align: right;
}

.nav {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.links {
  text-align: center;
  width: 100%;
  display: none;
}

.links div {
  padding-right: 0;
}

.links a {
  flex-direction: block;
  margin-right: 40px;

}

#toggle:checked + .links {
  display: flex;
  flex-direction: column;
  text-align: right;
  height: auto;
}

.welcomePage h1 {
  padding-top: 30%;
  padding-left: auto;
  padding-right: auto;
}

.icons {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.indiIcons {
  width: 60%;
}  

.pricing {
  flex-direction: column;
  align-items: center;
}

}

@media only screen and (max-width: 576px) {
  .welcomePage h1 {
    padding-top: 50%;
    padding-left: auto;
    padding-right: auto;
  }

  .blurb {
    font-size: .85em;
  }

  .indiIcons {
    width: 80%;
  }

}
